* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  position:relative;
  height: 100%;
}

.expandedColumn{
  width:100%;
  display:block;
  visibility: visible;
  height:100%;
  padding:10px;
  position:relative;
}

.minimizedColumn{
  width:0%;
  display:none;
  visibility: hidden;
}

textarea {
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
     height:45%;
}

#ldssArea{
    column-count: 3;
    column-rule-style: solid;
    column-gap: 40px;
    margin-bottom: 20px;
    padding: 5% 2% 1% 2%;
    display: block;
    white-space: pre-wrap
}

#ldssCommentArea{
  display:block;
  white-space: pre-wrap;
}

#ldssComment{
  height:100px;
}

#submitEdit{
  float:left;
}

#submitCreate{
  float:left;
}

#commentDiv{
  visibility: hidden;
  margin: 0 0 20px 0;
}

.p{
  display:inline-block;
}

.expandButton{
  position: absolute;
  right:0;
  bottom:0;
  margin-right: 3px;
  margin-bottom: 3px;
}

.fas{
  display: block;
  width:100%;
  padding: 1px 0px 0px 0px;
}

#goodUser{
    display: block;
    float: left;
    margin: 10px 0 0 15px;
}

#titleHeader{
  margin: 10px 0 5px 0;
}

#bodyEditDiv{
  margin: 10px 0 5px 0;
}

#tagEditDiv{
  margin: 10px 0 5px 0;
}

#editOptions{
  float:left;
}


#usernameButton{
	margin-left: 10px;
  margin-top: 10px;
  float:left;
}

#editShownNote{
  visibility: hidden;
  margin: 0 auto;
  display: block;
  min-width: 10px;
  width: 30%;
  margin-top: 10px;

}


#usernameInput{
  float:left; 
  margin-top:10px
}

#tagEditArea{
	height:25px;
}

#titleEditArea{
  height:25px;
}

#usernameDiv{
  display: block;
  height: 5%;
  width: 50%;
  float:left;
}

#DBStatusDiv{
  display: block;
  height: 5%;
  width: 50%;
  float:right;
}

#SSStatusLoader{
  margin:auto;
  float:none;
  display: block;
  visibility: hidden;
}

#simpleSearchTextarea{
  height:50%; 
  text-align: left;
}

#simpleSearchButton{
  display: block;
  width: fit-content; 
  margin: auto;
}

#simpleSearchHeader{
  text-align: center;
}

#simpleSearchTerms{
  width:50%; 
  display: block; 
  margin:auto;
}

#simpleSearchResults{
  display: none;
  height: 100%;
}

#searchScripturesButton{
  margin: 10px 0px 0px 0px;
}

#staticDBText{
  float:right;
  margin: 10px 10px 0 0;
}

#dynamicDBText{
  float:right;
  margin: 5px 15px 0 0;
  font-size: 25px;
  color:green;
  display:none;
  visibility: hidden;
}

#username{
	float:left;
  margin: 10px 15px 0 0;
}


.hidden{
	visibility: hidden;
  height: 100%;
}

.padding{
	width: 1%;
	float:left;
	height: 100%
}

#idToEdit{
  margin-right:4px;
}

#showAllTagsButton{
}

#publicPrivate{
	float: right;
    width: 50%;
}

#idToShow{
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.noteArea{
	width:100%;
	height:75%;
	line-height:1.5em;
	overflow:auto;
	padding:5px;
}


.searchArea{
  width:100%;
  height:70%;
  line-height:1.5em;
  overflow:auto;
  padding:5px;
}

.row{
	height: 90%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
}


.displayNone{
  visibility: hidden;
  display: none;
}

.dropdown {
  color:blue;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size:12px;
  height:60px;
}

.dropdown-content a {
  padding: 5px 0px 0px 10px;
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: left;
  height:50%;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #000000; /* Black */
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
  float:right;
  margin: 10px 15px 0 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 95%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}